{% extends 'agri_project/base.html' %}
{% block content %}
<div class="container-fluid">
	<br><div class="card mb-4">
              <div class="card-body">
		      <div class="card-header">
                  <h3 class="mb-0"><strong>Agribusiness Project Details</strong></h3>
                </div>
                <form method="post">
                  {% csrf_token %}
                  <div class="form-group">
                      <label for="name">Project Name<span class="text-danger">*</span></label>
		      {{ form.name }}
                      <small class="form-text text-muted">The name of agribusiness project.</small>
                  </div>
              
                  <div class="form-group">
                      <label for="description">Project Description<span class="text-danger">*</span></label>
		      {{ form.description }}
                      <small class="form-text text-muted">Project description.</small>
                  </div>
              
                  <div class="form-group">
                      <label for="funding_goal">Funding Goal</label>
		      {{ form.funding_goal }}
                      <small class="form-text text-muted">Funding needed (in USD).</small>
                  </div>
              
                  <div class="form-group">
                      <label for="current_status">Current Status</label>
		      {{ form.current_status }}
                      <small class="form-text text-muted">Current status of the project.</small>
                  </div>
              
                  <div class="form-group">
                      <label for="farmer_name">Farmer Name<span class="text-danger">*</span></label>
		      {{ form.farmer_name }}
                      <small class="form-text text-muted">Your names.</small>
                  </div>
              
                  <div class="form-group">
                      <label for="farmer_email">Farmer Email<span class="text-danger">*</span></label>
		      {{ form.farmer_email }}
                      <small class="form-text text-muted">Farmer's Email.</small>
                  </div>
              
                  <button type="submit" class="btn btn-primary btn-lg mt-12">Create</button>
              </form>
            </div>
          </div>
</div>
{% endblock %}
