{% extends 'agri_project/base.html' %}
{% block content %}
<div class="container-fluid ms-auto">
          <section><br>
              <h1>Project Details</h1><br>
              <div class="card mt-4 mt-lg-0 mb-4 me-auto ml-4">
                <div class="card-header d-lg-flex">
                  <h2>{{ project.name }}</h2>
                </div>
                <div class="card-body">
                  <p><strong>Description:</strong> {{ project.description }}</p>
                  <p><strong>Funding Goal:</strong> ${{ project.funding_goal }}</p>
		  <p><strong>Current Status:</strong><span class="badge bg-info-soft">{{ project.current_status }}</span></p>
                  <p><strong>Farmer Name:</strong> {{ project.farmer_name }}</p>
                  <p><strong>Farmer Email:</strong> {{ project.farmer_email }}</p>
                </div>
              </div>
</section>
</div>
<section class="container-fluid ms-auto">
              <div class="card mb-4">
                <div class="card-header">
                    <h4 class="mb-0"><strong>Loan applied for project</strong></h4>
                </div>
                <div class="card-body">
                  {% if loan_applications %}
		  	{% for loan_application in loan_applications %}
                      		<p><strong>Amount Requested:</strong>$ {{ loan_application.amount_requested }}</p>
                      		<p><strong>Supporting Documents:</strong> <a href="{{ loan_applications.supporting_docs.url }}">Download</a></p>
			{% endfor %}
                  {% else %}
                      <p>No loan application has been submitted for this project.</p>
                  {% endif %}
                </div>
              </div>
</section>
<section class="container-fluid">
	<h1><span class="badge bg-info text-dark">For Investor</span>: Fill details to express interest</h1>
              <div class="card mb-4">
                <form method="POST">
		  {% csrf_token %}
                  <div class="card-header">
                    <h4 class="mb-0"><strong>Investor Details</strong></h4>
                  </div>
                  <div class="card-body mb-3">
			{{ form.as_p }}
                    <button type="submit" class="btn btn-primary btn-lg mt-12">Express Interest</button>
                  </div>
                </form>
              </div>
</section>
<section class="container-fluid">
	<h2>Interested Investors</h2>
	<ul>
		{% for investor in interested_investors %}
			<li
				>{{ investor.investor_fname }} {{ investor.investor_lname }}
			</li>
		{% empty %}
			<li>No investors are currently interested in this project.</li>
		{% endfor %}
	</ul>
	
</section>
{% endblock %}
